<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>
  <form #form="ngForm" (ngSubmit)="logForm(form.value)" novalidate>
    <div>
      <select name="p_date" ngModel required>
        <option value="">select date</option>
        <option *ngFor="let item of [7,1,2,3,4,5,6]">{{getnextWeekDateRange(item)}}</option>
      </select>
      <select name="driver" ngModel required>
        <option>select driver</option>
        <option *ngFor="let item of drivers" value={{item.value}}>{{item.name}}</option>
      </select>
      <select name="city" ngModel required>
        <option>select city</option>
        <option *ngFor="let item of city" value={{item.id}}>{{item.name}}</option>
      </select>
      <select name="starttime" ngModel required>
        <option>select start time</option>
        <option *ngFor="let item of time" value={{item}}>{{item}}</option>
      </select>
      <select name="endtime" ngModel required>
        <option>select end time</option>
        <option *ngFor="let item of time" value={{item}}>{{item}}</option>
      </select>
    </div>
    <input type="submit" value="reserve booking" />
  </form>

  <div style="padding:10px;margin-top: 20px;border: 1px solid black; ">
  <div>
    <select required (change)="getDashBoardDataBYCity($event)" >
      <option>select city</option>
      <option *ngFor="let item of city" value={{item.id}}>{{item.name}}</option>
    </select>
  </div>
  <div>
    <table>
      <tbody *ngIf="dashboardDataByCity.length > 0">
        <tr>
          <th></th>
          <th *ngFor="let item of [7,1,2,3,4,5,6]">{{getnextWeekDateRange(item)}}</th>
        </tr>
        <tr *ngFor="let item of time;let last = last">
            <td *ngIf="!last" style="position:relative;top:-10px">{{item}}</td>
            <td *ngFor="let item1 of [7,1,2,3,4,5,6]" [style.background-color]="getColor(item,item1,last)">&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>


  <div style="padding:10px;margin-top: 20px;border: 1px solid black; ">
      <div>
        <select required (change)="getDashBoardDataBYDriver($event)" >
          <option>select driver</option>
          <option *ngFor="let item of drivers" value={{item.value}}>{{item.name}}</option>
        </select>
      </div>
      <div>
        <table>
          <tbody *ngIf="dashboardDataByDriver.length > 0">
            <tr>
              <th></th>
              <th *ngFor="let item of [7,1,2,3,4,5,6]">{{getnextWeekDateRange(item)}}</th>
            </tr>
            <tr *ngFor="let item of time;let last = last">
                <td *ngIf="!last" style="position:relative;top:-10px">{{item}}</td>
                <td *ngFor="let item1 of [7,1,2,3,4,5,6]" [style.background-color]="getColor1(item,item1,last)">&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
</div>